:root {
  font-family: "Inter", sans-serif;
  font-size: calc(0.52rem + 0.4vw);
  --text-text-primary: #202020;
  --spacing-spacing-md: 1.5rem;
  --spacing-spacing-sm: 0.5rem;
  --spacing-spacing-2-xl: 6.5rem;
  --radius-radius-full: 22.5rem;
  --border-border-primary: #202020;
  --surface-surface-invert: #202020;
  --text-text-invert: #f1f1f1;
  --surface-surface-primary: #f1f1f1;
  --text-text-brand: #202020;
  --surface-surface-brand: #7db8a9;
  background-color: #f1f1f1;
}

a {
  color: var(--text-text-primary);
}

a:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  max-width: 90rem;
  min-width: 80rem;

  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: var(--spacing-spacing-md, 1.5rem) var(--spacing-spacing-2-xl, 6.5rem);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.header__logo {
}

.header__menu-and-cart {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__menu ul li {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.header__basket {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;
  gap: var(--spacing-spacing-sm, 0.5rem);
}

.header__basket-btn {
  display: flex;
  padding: var(--spacing-spacing-sm, 0.5rem) var(--spacing-spacing-md, 1.5rem);
  align-items: center;
  gap: var(--spacing-spacing-sm, 0.5rem);

  border-radius: var(--radius-radius-full, 22.5rem);
  border: 1px solid var(--border-border-primary);

  color: var(--text-text-primary);

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;

  cursor: pointer;
}

.header__basket-btn:hover {
  background: var(--surface-surface-invert, #202020);

  color: var(--text-text-invert, #f1f1f1);
}

.header__basket-btn:hover svg {
  fill: #f1f1f1;
}

.header__basket-bnt-image {
  width: 1.5rem;
  height: 1.5rem;
}

.header__basket-btn span {
  display: inline-block;
}

.section {
  display: flex;
  padding: var(--spacing-spacing-lg, 2rem) var(--spacing-spacing-2-xl, 6.5rem);
  flex-direction: row;
  align-items: center;
  align-self: stretch;

  color: var(--text-text-primary);

  /* Body/Medium */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.arrow {
  width: 1.125rem;
  height: 2rem;
}

.main {
  display: flex;
  padding: var(--spacing-spacing-xl, 3rem) var(--spacing-spacing-2-xl, 6.5rem);
  align-items: flex-start;
  gap: var(--spacing-spacing-2-xl, 6.5rem);
  align-self: stretch;
}

.aside {
  max-width: 6.31rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-lg, 2rem);
}
.aside ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-sm, 0.5rem);
}

.aside ul li {
  color: var(--text-text-primary);

  /* Caption/Default */

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: -0.00875rem;
}

.main-content {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-spacing-xl, 3rem);
  align-self: stretch;
}

.main-content__image {
  position: relative;
  flex-shrink: 0;
}

.image {
  width: 22.875rem;
  height: 31rem;
}

.like {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: inline-flex;
  padding: var(--spacing-spacing-sm, 0.5rem);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-spacing-none, 0rem);

  border-radius: var(--radius-radius-full, 22.5rem);
  border: 1px solid var(--border-border-primary, #202020);
  background: var(--surface-surface-primary, #f1f1f1);
}

.main-content__text {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.main-content__text h1 {
  color: var(--text-text-primary);

  /* Display/Italic */
  font-family: Newsreader;
  font-size: 4rem;
  font-style: italic;
  font-weight: 300;
  line-height: 5rem; /* 125% */
  letter-spacing: -0.08rem;
}

.main-content__text .description {
  color: var(--text-text-primary);

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.main-content__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-lg, 2rem);
  flex: 1 0 0;
}

.main-content__qty-price-button {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.main-content__qty-price {
  display: flex;
  padding-right: var(--spacing-spacing-2-xl, 0px);
  align-items: flex-start;
  gap: var(--spacing-spacing-md, 1.5rem);
  flex: 1 0 0;

  color: var(--text-text-primary);

  /* Body/Semibold */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.main-content__qty-price-divider {
  width: 0.0625rem;
  height: 2rem;
  background: var(--border-border-primary, #202020);
}

.main-content__button {
  display: flex;
  width: 17.0625rem;

  padding: var(--spacing-spacing-sm, 0.5rem) var(--spacing-spacing-md, 1.5rem);
  justify-content: space-between;
  align-items: center;

  border-radius: var(--radius-radius-full, 22.5rem);
  background: var(--surface-surface-brand, #7db8a9);

  color: var(--text-text-brand, #202020);

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.main-content__button:hover {
  color: var(--text-text-invert, #f1f1f1);
  background: var(--surface-surface-invert, #202020);
}

.main-content__button:hover svg {
  fill: #f1f1f1;
}

.main-content__button span {
  display: inline-block;
}

.main-content__button-image {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.sign {
  display: flex;
  padding: var(--spacing-spacing-lg, 2rem) var(--spacing-spacing-2-xl, 6.5rem);
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 1.5rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.sign__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: #202020;

  /* Title/Italic */
  font-family: Newsreader;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3rem; /* 120% */
  letter-spacing: -0.05rem;
}

.sign__right {
  display: flex;
  max-width: 20.4375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 20rem;
  padding: 0.5rem 1.5rem;

  flex: 1 0 0;

  border-radius: 0.5rem;
  border: 1px solid #202020;

  color: rgba(32, 32, 32, 1);

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.input-field::placeholder {
  color: rgba(32, 32, 32, 0.3);
}

.sign__notification-preferences-checkbox-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.sign__notification-preferences-h3 {
  color: #202020;

  /* Subtitle/Italic */

  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.01rem;
}

.sign__notification-preferences label {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: #202020;

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 0.25rem;
  border: 1px solid #202020;

  background-color: transparent;
}

.sign__button {
  width: 20rem;
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 22.5rem;
  background: var(--surface-surface-invert, #202020);
}

.sign__button-style {
  color: var(--text-text-invert, #f1f1f1);

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.sign__button-image {
  width: 1.5rem;
  height: 1.5rem;
}

.footer__wrapper {
  display: flex;
  padding: 0rem var(--spacing-spacing-2-xl, 6.5rem)
    var(--spacing-spacing-xl, 3rem) var(--spacing-spacing-2-xl, 6.5rem);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.footer__wrapper::before {
  content: "";
  width: 100%;
  border-top: 1px solid var(--border-border-primary, #202020);
}

.footer {
  display: flex;
  padding-top: var(--spacing-spacing-xl, 48px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-xl, 3rem);
  align-self: stretch;
}

.footer__items {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  justify-content: space-between;
}

.footer__left {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-md, 1.5rem);

  flex-basis: auto;
}

.footer_right {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  flex-grow: 0;
  flex-basis: auto;
}

.footer__left-logo {
  width: 12rem;
  height: 2rem;
}

.footer__left-style {
  color: var(--text-text-primary);

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.footer__column-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-md, 1.5rem);
}

.footer__column-li {
  color: var(--text-text-primary);

  /* Body/Default */

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

@media (max-width: 80rem) {
  .container {
    width: 100%;
  }
  :root {
    --spacing-spacing-md: 1rem;
    --spacing-spacing-sm: 0.5rem;
    --spacing-spacing-2-xl: 3rem;
  }
}
