:root {
  font-family: "Inter", sans-serif;
  --text-text-primary: #202020;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  width: 90rem;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.header {
  display: flex;
  padding: var(--spacing-spacing-md, 1.5rem) var(--spacing-spacing-2-xl, 6.5rem);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.header__logo {
  margin-right: 27.31rem;
}

.header__menu-and-cart {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__menu ul li {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.header__basket {
  width: 8.5625rem;
  height: 3rem;
  display: flex;
  flex-wrap: nowrap;
  padding: var(--spacing-spacing-sm, 0.5rem) var(--spacing-spacing-md, 1.5rem);
  align-items: center;
  gap: var(--spacing-spacing-sm, 0.5rem);

  border-radius: var(--radius-radius-full, 22.5rem);
  border: 1px solid var(--border-border-primary, #202020);
}

.header__basket-bnt-image {
}

.header__basket-btn {
  color: var(--text-text-primary, #202020);

  /* Body/Default */
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.section {
  display: flex;
  padding: var(--spacing-spacing-lg, 2rem) var(--spacing-spacing-2-xl, 6.5rem);
  flex-direction: row;
  align-items: center;
  align-self: stretch;

  color: var(--text-text-primary, #202020);

  /* Body/Medium */
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}

.arrow {
  width: 1.125rem;
  height: 2rem;
}

.main {
  display: flex;
  padding: var(--spacing-spacing-xl, 3rem) var(--spacing-spacing-2-xl, 6.5rem);
  align-items: flex-start;
  gap: var(--spacing-spacing-2-xl, 6.5rem);
  align-self: stretch;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-lg, 2rem);
  border: 1px solid khaki;
}
.aside ul {
  width: 6.31rem;
  height: 18.8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-sm, 0.5rem);
}

.aside ul li {
  color: var(--text-text-primary, #202020);

  /* Caption/Default */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: -0.00875rem;
}

.main-content {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-spacing-xl, 3rem);
  align-self: stretch;
  border: 1px solid forestgreen;
}

.main-content__image {
  border: 1px solid red;
  width: 22.875rem;
  height: 31rem;
  flex-shrink: 0;
}

.image {
}

.main-content__text {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.main-content__text h1 {
  color: var(--text-text-primary, #202020);

  /* Display/Italic */
  font-family: Newsreader;
  font-size: 4rem;
  font-style: italic;
  font-weight: 300;
  line-height: 5rem; /* 125% */
  letter-spacing: -0.08rem;
}

.main-content__text .description {
  color: var(--text-text-primary, #202020);

  /* Body/Default */
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 177.778% */
  letter-spacing: -0.01125rem;
}
